<div class="container">
  <div class="row">
    <form class="col s12">
      <!-- can be moved to a separate component -->
      <div class="graph-note-welcome scale-transition">
        <p>Hello! And Welcome to GraphNotes.</p>
        <p>Feel free to create any number of notes connected to each other!</p>
      </div>
      <graph-note-list></graph-note-list>
      <graph-note-create-screen></graph-note-create-screen>
      <div class="graph-note-create-screen scale-transition scale-out">
        <div class="input-field">
          <input id="graph-note-header" type="text" class="graph-note-header">
          <label for="graph-note-header">Header</label>
        </div>
        <div class="input-field">
          <textarea id="graph-note-text" class="materialize-textarea graph-note-text"></textarea>
          <label for="graph-note-text">Note</label>
        </div>
      </div>
    </form>
  </div>
  <graph-note-add-btn></graph-note-add-btn>
</div>
