<div class="graph-note-create-screen">
  <div class="input-field">
    <input id="graph-note-header" type="text" class="graph-note-header" autocomplete="off">
    <label for="graph-note-header">File Name</label>
  </div>
  <!--
  <div class="input-field">
    <div class="chips chips-autocomplete"></div>
  </div>
  -->
  <div class="input-field">
    <textarea id="graph-note-text" class="graph-note-text" placeholder="Text"></textarea>
    <!--<label for="graph-note-text">Note</label>-->
  </div>
</div>
