.graph-note-node-list-element {
  padding: 20px;
  border: 1px solid #eee;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: width 600ms ease-out, height 600ms ease-out;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.graph-note-node-list-element.minimize {
  width: 20%;
  height: 200px;
}
.graph-note-header {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
.graph-note-text {
  margin-top: 20px;
}
